/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-designingintent-blocks-designingintent-blocks {
	border: 1px dotted #f00;
}
.editorblock {
	padding: 20px;
	background-color: lightcyan;
	margin: 20px;
}
