/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-designingintent-blocks-designingintent-blocks {
	border: 1px dotted #f00;
}
.meigsSpiral__editor-frame {
	background-color: black;
	height: 400px;
	position: relative;
}

.meigsSpiral__editor-image {
	position: absolute;
}

// @import "../style.scss";
