/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.meigsSpiral {
	background-color: darkgray;
}
.designElement__big {
	position: absolute;
	bottom: -5%;
	left: -15%;
	opacity: 0.15;
}

.designElement__big > img {
	width: 63%;
}

.designElement__small {
	position: absolute;
	left: 80%;
	top: 8%;
	opacity: 0.2;
}

.designElement__small > img {
	width: 100%;
}
